.new-background-color{
    --background: #4ac0fe;
    --color: white;
}
.background-page{
    --background: #def1f6;
}
.submit-btn{
    --background: #ffa700;
    --background-activated:  #ffa700;
    --background-focused: #ffa700;
    --border-radius: 4px;
    z-index: 9;
    width: 90%;
}
.title{
    padding: 10px 0 10px 0;
}
.footer-fSize{
    font-size:25px;
    text-transform: none;
}
.footer-btn{
    display: block;
    text-align: center;    
}
.lb-title{
    width:60%;
    font-size: 25px;
    // margin-left: 10%;
    // margin-right: 20%;
    color: #637f93;
    text-align: left;
}

.icon{
    width:30px;
    height:30px;
}