.logo{
    text-align: center;
}
.logo-row{
    text-align: center;
}
.logo_text{
    color: gray;
    text-align: center;
}
.borderColor{
    --border-color:#00a0f5;
}
.welcome_text{
    color: black;
}
.logo-blank{
    height: 70px;
}
.logo-mBlank{
    height: 30px;
}
.logo-topBlank{
    height: 50px;
}
.item-native{
    padding: 0px,0px,0px,0px;
}
.submit-btn{
    --background: #00a0f5;
    --background-activated:  #00a0f5;
    --background-focused: #00a0f5;
    --border-radius: 4px;
}